{% extends "recipes/base.html" %}
<!-- -->
{% load crispy_forms_tags %}
<!-- -->
{% block content %}
<div class="container mx-auto px-4">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="mb-4">
      <legend class="text-xl font-bold mb-4">Are you sure you want to delete your recipe?</legend>
      <h2>{{ object }}</h2>
      {{ form|crispy }}
    </fieldset>
    <div class="py-3">
      <input class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded inline-block" type="submit" value="Delete" />
    </div>
  </form>
  <div class="border-t pt-3">
    <a class="text-gray-600 hover:text-gray-800" href="{% url 'recipes-home' %}">Cancel</a>
  </div>
</div>
<!-- -->
{% endblock content %}
