{% extends "recipes/base.html" %}
<!-- -->
{% load crispy_forms_tags %}
<!-- -->
{% block content %}
<div class="container mx-auto px-4">
  <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    <fieldset class="mb-4">
      <legend class="border-b pb-2 text-xl font-bold">Sign Up!</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="py-3">
      <input 
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
        type="submit" 
        value="Sign Up" 
      />
    </div>
  </form>
  <div class="border-t pt-3">
    <a class="text-gray-600 hover:text-gray-800" href="{% url 'user-login' %}">Already have an account? Log in.</a>
  </div>
</div>
<!-- -->
{% endblock content %}
